body {
  padding: 0;
  margin: 0;
}
.header {
  background-color: #000;
  line-height: 56px;
  text-align: center;
  width: 100%;
  color: #fff;
}
.header1 {
  background-color: #000;
  line-height: 56px;
  text-align: center;
  width: 100%;
  color: #fff;
}
.header2 {
  background-color: brown;
  line-height: 100px;
  text-align: center;
  width: 100%;
  color: #fff;
}
